.wrapper .container {
  max-width: 40%;
  margin: auto;
  text-align: center;
}
.wrapper h2 {
  font-size: 40px;
}
.wrapper p {
  opacity: 1;
  margin-bottom: 30px;
}
@media screen and (max-width: 834px) {
  .wrapper .container {
    max-width: 80%;
  }
}
