.blog .heading{
    text-align: center;
}
.blog .text{
    margin: 0;
}
.blog span{
    opacity: 0.5;
    font-size: 15px;
}
.blog h2{
    margin: 20px 0;
}
.blog a{
    color: #e40613;
    display: block;
    line-height: 20px;
}
.blog a .icon{
    padding-top: 10px;
}
.text1{
    background-color: white;
    box-shadow: 0 5px 20px 0 rgba(0 0 0 /6%);
    padding: 30px;
    margin-top: -30px;
    position: relative;
    z-index: 1;
}